* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  background-color: rgb(28, 17, 44);
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.left-side {
  width: 100px;
  height: 100%;
  background-color: rgba(16, 12, 36, 0.5);
}
.mid-side {
  width: 40%;
  height: 100%;
  background-color: rgb(40, 40, 97);
}
.right-side {
  width: 50%;
  height: 100%;
  background-color: rgb(32, 36, 58);
}
.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn {
  width: 100px;
  height: 100px;
  font-size: 50px;
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
  transition: 0.5s;
}
.btn:hover {
  background-color: rgb(11, 9, 22);
}
.user {
  background-color: rgb(11, 9, 22);
}
.text-btn {
  margin-top: -35px;
  color: #fff;
}
.box-search {
  width: 100%;
  display: flex;
  justify-content: center;
}
.box-search input {
  width: 80%;
  height: 50px;
  padding-left: 30px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: rgba(35, 35, 53, 0.5);
  color: white;
  font-size: 20px;
}
.mid-side {
  display: flex;
  flex-direction: column;
}
.inbox {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
  cursor: pointer;
  transition: 0.5s;
}
.inbox:hover {
  background: rgba(255, 255, 255, 0.1);
}
.inbox .img {
  width: 70px;
  height: 70px;
  background-color: blue;
  border-radius: 50%;
  margin-right: 20px;
  overflow: hidden;
  background-position: center;
  background-size: cover;
}
/* Text stand for name and text chat */
.text {
  color: rgb(231, 229, 229);
}
.ronaldo {
  background-image: url("ronaldo.jpeg");
}
.god {
  background-image: url("god.jpg");
}
.justin {
  background-image: url("justin.jpg");
}
.messi {
  background-image: url("messi.jpg");
}
.cheat {
  background-image: url("cheat.jpg");
}
.meow {
  background-image: url("meow.jpg");
}
.woof {
  background-image: url("woof.jpg");
}
.salah {
  background-image: url("salah.jpg");
}
.firmino {
  background-image: url("firmino.jpg");
}
.mane {
  background-image: url("mane.jpg");
}
.zayn {
  background-image: url("zayn.jpg");
}
.messi-box {
  background-color: rgb(29, 26, 44);
}

/* Section Right Side */
.right-side {
  border: 1px solid black;
  position: relative;
}
.right-side .nav-top {
  width: 100%;
  height: 70px;
  background-color: rgb(40, 40, 97);
  display: flex;
  justify-content: space-between;
}
.name-online {
  width: 100px;
  height: 100%;
  text-align: center;
  padding: 10px;
}
.name-online .name-user {
  color: rgb(240, 240, 240);
}
.name-online .online {
  color: rgb(47, 47, 255);
}
.icon-right {
  width: 200px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-right {
  width: 50px;
  height: 50px;
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
  color: rgb(175, 175, 175);
  transition: 0.5s;
}
.btn-right:hover {
  color: #fff;
}
.write-box {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: rgb(40, 40, 97);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.write-box .write-text {
  width: 60%;
  height: 100%;
  background-color: none;
  outline: none;
  background-color: rgb(40, 40, 97);
  border: none;
  font-size: 20px;
  color: white;
}

.message {
  width: 100%;
  padding: 20px;
  position: relative;
}
.message-box {
  width: 200px;
  height: 40px;
  background-color: rgb(40, 40, 97);
  border-radius: 5px;
  position: relative;
  padding: 10px;
}
.message-box::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -15px;
  width: 20px;
  height: 20px;
  background-color: rgb(40, 40, 97);
  clip-path: polygon(100% 100%, 100% 1%, 0 100%);
}
.sms {
  color: white;
}
